{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div>Site web créé par Erwan Cado et Dorian Morax pour l'IUT informatique
 de Bordeaux dans le cadre du projet S3 de Web</div>

{% endblock %}