{% extends 'base.html.twig' %}

{% block title %}Compositeurs{% endblock %}

{% block body %}
    <h1>Compositeurs</h1>


    <table class="table">
        <tbody>
        <tr>
        {% for musicien in musiciens %}
            <td>
             <img src="data:image/png;base64,{{ musicien.base64Photo }}" height="150" width="250" alt=''>
            </td>
                <td> <a href="{{ path('musicien_show', {'codeMusicien': musicien.codeMusicien}) }}">detail</a> </td>

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}
