{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Abonne{% endblock %}

{% block body %}
    <h1>Create new Abonne</h1>

    {{ include('abonne/_form.html.twig') }}


{% endblock %}
