{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 style="text-align: center">Inscription</h1>

    {{ include('abonne/_form.html.twig') }}



{% endblock %}
